body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.all{
    background: linear-gradient(to right top, red, rgb(128, 35, 35));
    padding: 20px;
    border-radius: 7px;
}

header a {
    color: white;
    text-decoration: none;
}
header a:hover{
    color: blue;
    text-decoration: underline;
}

header {
    padding-top: 20px;
    background: linear-gradient(to right top, red, rgb(128, 35, 35));
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}